.landingpage {
	margin-top: 10px;
	border: 1px solid black;
}

.appname {
	border: 1px solid red;
	margin-top: 90px;
	text-align: center;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	max-width: 80%;
	max-height: 80%;
	height: auto;
	width: auto;
	border-radius: 10%;
	/* border: 1px solid #ddd; */
	border: 2px solid red;
	padding: 5px;
}

.logo:hover {
	box-shadow: 0 0 20px 5px rgba(0, 140, 186, 0.5);
}

.schedulenow {
	border: 2px solid #000;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
