

#deleteVacay {
  color: #656279;
}

#deleteVacay:hover {
  cursor: pointer;
}

.listItems {
  font-size: 18px;
  margin-bottom: 13px;
}

.joinBtn {
  color: white;
}

#date {
  border: none;
}
