.MuiIconButton-label {
  color: #656279;
}

/*
.MuiPickersDay-daySelected {
  background-color: red;
}
*/
/* .MuiToolBar-gutters {
  background-color: red;
} */

span {
  color: #00acc1;
}

/* .MuiPickersToolbar-toolbar {
  background-color: red;
} */

#deleteVacay {
  color: #656279;
}

#deleteVacay:hover {
  cursor: pointer;
}
